@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import "tailwindcss";



* {
  font-family: "Lexend Deca";
}


body {
  scroll-behavior: smooth;
}


.spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme(--color-indigo-600);
    border-right-color: theme(--color-indigo-300);
    animation: rotate 1s infinite linear;
  }